.home-component {
    background-color: var(--primary-color);
    display: flex;
    min-height: 500px;
    position: relative;
}

.home-component .bg {
    background-image: url('../../../../assets/images/background/glow.png');
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.home-component .home-section {
    color: var(--primary-text-color);
    padding: 2em 6.5em;
    width: 100%;
    z-index: 2;
}

.home-component .heading .label {
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
}

.home-component .heading .sub-label {
    font-size: 26px;
}

.home-component .home-section .home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

.home-component .home-container .quick-find,
.home-component .home-container .client-reviews {
    flex: 1;
}

.home-component .home-container .quick-find {
    font-size: 16px;
    padding: 0 20px 0 0;
}

.home-component .home-container .quick-input-helper {
    padding: 40px 0 0;
}

.home-component .home-container .quick-input-container:focus-within {
    box-shadow: 0 0 10px 0 var(--tertiary-color);
}

.home-component .home-container .quick-input-container {
    align-items: center;
    background-color: var(--tertiary-color);
    border-radius: 6em;
    display: flex;
    margin: 7px 0;
    position: relative; 
}

.home-component .quick-input-container .quick-input {
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.home-component .quick-input-container .quick-input-label {
    background-color: var(--secondary-color);
    border-radius: 4em;
    font-size: 12px;
    left: 10px;
    padding: 5px 12px;
    position: absolute;
}

.home-component .quick-input .input-label {
    color: var(--tertiary-strong-text-color);
    font-weight: 600;
    position: absolute;
    padding-left: 60px;
    z-index: 1;
}

.home-component .quick-input .input {
    background-color: transparent;
    border: 0;
    color: var(--secondary-light-text-color);
    font-size: 16px;
    outline: none;
    padding: 20px 22px;
    text-align: left;
    text-indent: 40px;
    width: inherit;
    z-index: 2;
}

.home-component .quick-input.select {
    display: flex;
    color: var(--tertiary-strong-text-color);
    font-weight: 600;
}

.home-component .quick-input.select .select-label {
    flex: 1;
    padding-left: 40px;
}

.home-component .quick-input.select .icon-down-open {
    position: absolute;
    right: 20px;
    z-index: 1;
}

.home-component .home-container .find-category-helper {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.home-component .find-category-helper a {
    color: var(--secondary-text);
}

.home-component .find-category-helper .quick-input-helper {
    padding: 10px 0 0;
}

.home-component .home-container .client-reviews {
    padding: 0 0 0 20px;
}

.home-component .client-reviews .sub-label {
    font-size: 20px;
    font-weight: 600;
    padding: 0 15px;
}

.home-component .autocomplete-component {
    font-weight: 600;
    left: 40px;
    top: 60px;
}

.home-component .autocomplete-component .list {
    list-style: none;
    margin: 0;
    padding: 10px 30px;
}

.home-component .dropdown-component {
    top: 65px;
}

@media (max-width: 1100px) {
    .home-component .bg {
        background-position: center bottom;
    }
}