@import url('../themes/default.css');
@import url('components/rating/index.css');
@import url('components/modal/index.css');
@import url('modules/header/index.css');
@import url('modules/footer/index.css');
@import url('modules/review/index.css');
@import url('modules/home/index.css');

body, html {
    color: var(--secondary-text-color);
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}