@import url('../themes/default.css');

body, html {
    color: var(--secondary-text-color);
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}